---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Haritiana Andrianarizaka";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Dr. Haritiana Andrianarizaka</h1>
    <span class="badge">Software Developer | DevOps</span>
    <h2>About</h2>
    <p>
        I’m Haritiana Andrianarizaka, a full-stack developer and DevOps specialist with over 7 years of experience in building and optimizing high-performance web platforms. 
        I’ve led migrations, implemented new features, and enhanced system reliability using modern frameworks like Symfony, Laravel, React, and Vue.js. Passionate about continuous learning, I’m currently diving deeper into advanced DevOps practices and enjoy collaborating on PHP and JavaScript projects to deliver impactful solutions.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Laravel" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Symfony" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/symfony/symfony-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="PHP" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Vue" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Express.js" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="MongoDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Redis" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redis/redis-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="GitLab CI" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Jenkins" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Ubuntu" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ubuntu/ubuntu-plain.svg"/>
        <img class="skills__img" width="46" height="46" alt="Shell Script" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I’m always curious and love learning new things, whether it’s keeping up with the latest tech news or figuring out how machines work. When I’m not coding, you’ll likely find me at the gym pushing my limits or unwinding with a good game to recharge.
    </p>
</Layout>

